:root {
    --light-gray: #dadce0;
    --light-blue: #1B9CE2;
}

body {
    background-color:white;
    margin: 0;
}

.title-1 {
    text-align: center;
    border: 2px solid rgba(0, 0, 0, 0.247);
    background-color: rgba(128, 128, 128, 0.418);
}

#app-calender {
    display:
    grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vmin;
}

.day {
    border-bottom: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    text-align: center;
    padding-top: 5px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 200ms, color 200ms;
}

.name {
    padding-bottom: 5px;
}

.weekend {
    color: var(--light-blue);
}

.selected {
    background-color: var(--light-gray);
    color:white;
}